@import 'tailwindcss';

@plugin "@tailwindcss/container-queries";
@plugin "@tailwindcss/typography";

@layer base {
  :root {
    --color-primary: #00b207;
    --color-primary-soft: #84d187;
    --color-primary-dark: #2c742f;
    background-color: #ffffff;
    color: #1f1f1f;
  }

  html,
  body {
    background-color: #ffffff;
  }

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading='lazy'] {
    clip-path: inset(0.6px);
  }
}

a,
input,
button {
  @apply focus-visible:outline-hidden focus-visible:ring-2 focus-visible:ring-[#84D187] focus-visible:ring-offset-2 focus-visible:ring-offset-white;
}
